div {
    display: flex;
     flex:1;
     justify-content: space-around;

}
.product {
    display: block;
    position: relative;
    justify-content: flex-end;
    flex-direction: column;

    width: 30%;
    height: 30%;
    
}
.product .buttons {
    position: relative;
    vertical-align: bottom;
    justify-content: space-between;
    margin: 0 10%;

}